.addBusiness-main-contnr{
    display:flex;
    flex-direction: column;
    margin: 2%;
}

.steps-contnr{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
}
.step-label{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.next-btn{
    width:10%;
    align-self: center;
}