.input-field-contnr{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

label{
    display: inline-block;
    text-align: start;
}

input{
width: 25rem;
border: 0.01rem solid gray;
border-radius: 0.25rem;
padding: 0.25rem;

}