.category-btn{
    border: 0.1rem solid var(--btn-color);
    width:fit-content;
    height: fit-content;
    padding:1%;
    border-radius: 0.4rem;
    text-align: center;
}

.category-btn:hover{
    background-color: var(--hover-color);
}